<section>
	<header>
		<h1>
			Load Balancers
			<span ng-show="loadBalancers"><small>({{loadBalancers.length}})</small></span>
		</h1>
	</header>
	<div ng-if="loadBalancers.length == 0">
		<p>None.</p>
	</div>
	<div ng-if="loadBalancers.length &gt; 0">
		<table class="table">
			<colgroup>
				<col style="width:33%">
				<col style="width:33%">
				<col style="width:33%">
			</colgroup>
			<thead>
				<tr>
					<th>Load Balancer</th>
					<th>Type</th>
					<th>IP Address</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="loadBalancer in loadBalancers">
					<td><a ng-href="{{uri('load-balancers', loadBalancer.name)}}">{{loadBalancer.name}}</a></td>
					<td>{{loadBalancer.type || '-'}}</a></td>
					<td>{{loadBalancer.ipAddress || '-'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
