<div class="page-header">
	<ul class="breadcrumb">
		<li><a ng-href="{{uri()}}">Home</a></li>
<!-- 		<li><a ng-href="{{uri('nodes')}}">Nodes</a></li> -->
		<li>Nodes</li>
	</ul>
	<h1>{{node.name}}</h1>
	<div class="lead" ng-if="node.description">{{node.description}}</div>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="alert alert-{{node.healthStatus.statusType.key}}" ng-if="node.healthStatus">
			<div class="metric">
				<div class="metric-percentage">
					<div ng-if="node.healthStatus.statusType.key === 'success'">
						<i class="fa fa-check-circle fa-lg"></i>
					</div>
					<div ng-if="node.healthStatus.statusType.key === 'info'">
						<i class="fa fa-info-circle fa-lg"></i>
					</div>
					<div ng-if="node.healthStatus.statusType.key === 'warning'">
						<i class="fa fa-exclamation-triangle fa-lg"></i>
					</div>
					<div ng-if="node.healthStatus.statusType.key === 'danger'">
						<i class="fa fa-times-circle fa-lg"></i>
					</div>
				</div>
				<div class="metric-name">{{node.healthStatus.name}}</div>
			</div>
		</div>
		<div class="alert alert-warning" ng-if="!node.healthStatus">
			<div class="metric">
				<div class="metric-percentage">
					<i class="fa fa-question-circle fa-lg"></i>
				</div>
				<div class="metric-name">Health Unknown</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<section>
			<header>
				<h1>Service</h1>
			</header>
			<table class="table">
				<colgroup>
					<col style="width:33%">
					<col style="width:67%">
				</colgroup>
				<tbody>
					<tr>
						<td>Service</td>
						<td>
							<div ng-if="service">
								<a ng-href="{{uri('services', service.key)}}">{{service.key}}</a>
							</div>
							<div ng-if="!service">-</div>
						</td>
					</tr>
					<tr>
						<td>Owner</td>
						<td>
							<div ng-if="owner">
								<a ng-href="{{uri('services', owner.username)}}">{{owner.fullName}}</a>
							</div>
							<div ng-if="!owner">-</div>
						</td>
					</tr>
					<tr>
						<td>Environment</td>
							<td>
							<div ng-if="environment">
								<a ng-href="{{uri('environments', environment.key)}}">{{environment.key}}</a>
							</div>
							<div ng-if="!environment">-</div>
						</td>
					</tr>
					<tr>
						<td>Service Instance</td>
						<td>
							<div ng-if="serviceInstance">
								<a ng-href="{{uri('services-instances', serviceInstance.key)}}">{{serviceInstance.key}}</a>
							</div>
							<div ng-if="!serviceInstance">-</div>
						</td>
					</tr>
					<tr>
						<td>Version</td>
						<td>{{node.version || '-'}}</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
	<div class="col-md-6">
		<section>
			<header>
				<h1>Infrastructure</h1>
			</header>
			<table class="table">
				<colgroup>
					<col style="width:33%">
					<col style="width:67%">
				</colgroup>
				<tbody>
					<tr>
						<td>Infrastructure Provider</td>
						<td>
							<div ng-if="infrastructureProvider">
								<a ng-href="{{uri('infrastructure-providers', infrastructureProvider.key)}}">{{infrastructureProvider.key}}</a>
							</div>
							<div ng-if="!infrastructureProvider">-</div>
						</td>
					</tr>
					<tr>
						<td>Region</td>
						<td>
							<div ng-if="region">
								<a ng-href="{{uri('regions', region.key)}}">{{region.key}}</a>
							</div>
							<div ng-if="!region">-</div>
						</td>
					</tr>
					<tr>
						<td>Data Center</td>
						<td>
							<div ng-if="dataCenter">
								<a ng-href="{{uri('data-centers', dataCenter.key)}}">{{dataCenter.key}}</a>
							</div>
							<div ng-if="!dataCenter">-</div>
						</td>
					</tr>
					<tr>
						<td>Machine</td>
						<td>
							<div ng-if="machine">
								<a ng-href="{{uri('machines', machine.name)}}">{{machine.fqdn}}</a>
							</div>
							<div ng-if="!machine">-</div>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
</div>
