<footer>
  <div class="container">
    <p><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/resources/images/seiso-logo.png" alt="Seiso"></a></p>
    <p>
      <a href="{{ site.baseurl }}/">Home</a> :
      <a href="{{ site.baseurl }}/about/">About</a> :
      <a href="{{ site.baseurl }}/get-started/">Get Started</a> :
      <a href="{{ site.baseurl }}/download/">Download</a> :
      <a href="{{ site.baseurl }}/faqs/">FAQs</a>
    </p>
    <p>
      <a href="https://github.com/expediadotcom/seiso"><i class="fa fa-github fa-lg"></i>GitHub</a> :
      <a href="https://twitter.com/seisoapp"><i class="fa fa-twitter fa-lg"></i>Twitter</a>
    </p>
    <div id="legal-and-credits">
      <p>An <a href="http://www.expedia.com/"><img id="expedia-logo" src="{{ site.baseurl }}/resources/images/expedia-logo.png" alt="Expedia"></a> open source production.</p>
      <p>Copyright &copy; 2014-2015 Expedia, Inc.</p>
    </div>
  </div>
</footer>
