<div class="page-header">
	<ul class="breadcrumb">
		<li><a ng-href="{{uri()}}">Home</a></li>
	</ul>
	<h1>Node Search</h1>
</div>

<section>
	<p><a ng-click="toggleShowAdvanced()">{{searchLabel}}</a></p>
	<div class="well">
		<form name="nodeSearchForm" ng-controller="NodeSearchFormController" class="form-horizontal">
			<fieldset style="margin-top:0">
				<legend>Basic</legend>
				<div class="form-group">
					<label for="node-name" class="col-md-2 control-label">Name</label>
					<div class="col-md-10" ng-controller="NodeNameTypeaheadController">
						<input id="node-name"
							ng-model="nodeSearch.name"
							typeahead="state for state in states | filter:$viewValue | limitTo:8"
							typeahead-min-length="3"
							class="form-control"
							placeholder="Start typing a node name">
					</div>
				</div>
				<div class="form-group">
					<label for="node-ip-address" class="col-md-2 control-label">IP Address</label>
					<div class="col-md-10">
						<input id="node-ip-address" ng-model="nodeSearch.ipAddress" class="form-control">
					</div>
				</div>
			</fieldset>
			<div collapse="showAdvanced">
				<fieldset>
					<legend>Service</legend>
					<div class="form-group">
						<label for="node-service" class="col-md-2 control-label">Service</label>
						<div class="col-md-10">
							<input id="node-service" ng-model="nodeSearch.service" class="form-control" placeholder="Start typing a service name">
						</div>
					</div>
					<div class="form-group">
						<label for="node-environment" class="col-md-2 control-label">Environment</label>
						<div class="col-md-10">
							<select id="node-environment" ng-model="nodeSearch.environment" class="form-control">
								<option></option>
								<option ng-repeat="environment in environments" value="{{environment.key}}">{{environment.name}}</option>
							</select>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>Infrastructure</legend>
					<div class="form-group">
						<label for="node-infrastructure-provider" class="col-md-2 control-label">Infrastructure Provider</label>
						<div class="col-md-10">
							<select id="node-infrastructure-provider" ng-model="nodeSearch.infrastructureProvider" class="form-control">
								<option></option>
								<option ng-repeat="provider in infrastructureProviders" value="{{provider.key}}">{{provider.name}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="node-region" class="col-md-2 control-label">Region</label>
						<div class="col-md-10">
							<select id="node-region" ng-model="nodeSearch.region" class="form-control">
								<option></option>
								<option ng-repeat="region in regions" value="{{region.key}}">{{region.name}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="node-data-center" class="col-md-2 control-label">Data Center</label>
						<div class="col-md-10">
							<select id="node-data-center" class="form-control">
								<option></option>
								<option ng-repeat="dataCenter in dataCenters">{{dataCenter.name}}</option>
							</select>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>Other</legend>
					<div class="form-group">
						<label for="node-owner" class="col-md-2 control-label">Owner</label>
						<div class="col-md-10">
							<input id="node-owner" type="text" class="form-control" placeholder="Start typing an owner name">
						</div>
					</div>
				</fieldset>
			</div>
			<div class="form-group">
				<div class="col-md-10 col-md-offset-2">
					<input ng-click="submitForm()" type="submit" value="Search" class="btn btn-primary">
				</div>
			</div>
		</form>
	</div>
</section>
<section ng-show="searchResults">
</section>
