<section>
	<header>
		<h1>Application Configuration</h1>
	</header>
	<div class="row">
		<div class="col-md-6">
			
			<!-- Server -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Server <span class="pull-right">(server.*)</span></h3>
				</div>
				<table class="table">
					<col style="width:33%"></col>
					<col style="width:67%"></col>
					<tbody>
						<tr>
							<td>port</td>
							<td>{{appConfig['server.port']}}</td>
						</tr>
						<tr>
							<td>session-timeout</td>
							<td>{{appConfig['server.session-timeout']}}</td>
						</tr>
						<tr>
							<td>ssl.key-store</td>
							<td><span ng-bind-html="appConfig['server.ssl.key-store'] | breakPaths"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		
			<!-- Data Source -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Data Source <span class="pull-right">(spring.datasource.*)</span></h3>
				</div>
				<table class="table">
					<col style="width:33%"></col>
					<col style="width:67%"></col>
					<tbody>
						<tr>
							<td>url</td>
							<td><span ng-bind-html="appConfig['spring.datasource.url'] | breakPaths"></span></td>
						</tr>
						<tr>
							<td>username</td>
							<td>{{appConfig['spring.datasource.username']}}</td>
						</tr>
						<tr>
							<td>driver-class-name</td>
							<td>{{appConfig['spring.datasource.driver-class-name']}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- RabbitMQ -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">RabbitMQ <span class="pull-right">(spring.rabbitmq.*)</span></h3>
				</div>
				<table class="table">
					<col style="width:33%"></col>
					<col style="width:67%"></col>
					<tbody>
						<tr>
							<td>host</td>
							<td>{{appConfig['spring.rabbitmq.host']}}</td>
						</tr>
						<tr>
							<td>port</td>
							<td>{{appConfig['spring.rabbitmq.port']}}</td>
						</tr>
						<tr>
							<td>username</td>
							<td>{{appConfig['spring.rabbitmq.username']}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-6">
			
			<!-- Security -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Security <span class="pull-right">(security.*)</span></h3>
				</div>
				<table class="table">
					<col style="width:33%"></col>
					<col style="width:67%"></col>
					<tbody>
						<tr>
							<td>basic.enabled</td>
							<td>{{appConfig['security.basic.enabled']}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- Logging -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Log Levels <span class="pull-right">(logging.level.*)</span></h3>
				</div>
				<table class="table">
					<col style="width:33%"></col>
					<col style="width:67%"></col>
					<tbody>
						<tr>
							<td>com.expedia.seiso</td>
							<td>{{appConfig['logging.level.com.expedia.seiso']}}</td>
						</tr>
						<tr>
							<td>org.springframework</td>
							<td>{{appConfig['logging.level.org.springframework']}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- JPA -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">JPA <span class="pull-right">(spring.jpa.*)</span></h3>
				</div>
				<table class="table">
					<col style="width:33%"></col>
					<col style="width:67%"></col>
					<tbody>
						<tr>
							<td>database</td>
							<td>{{appConfig['spring.jpa.database']}}</td>
						</tr>
						<tr>
							<td>show-sql</td>
							<td>{{appConfig['spring.jpa.show-sql']}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- Custom -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Custom <span class="pull-right">(custom.*)</span></h3>
				</div>
				<table class="table">
					<col style="width:33%"></col>
					<col style="width:67%"></col>
					<tbody>
						<tr>
							<td>api-base-uri</td>
							<td><span ng-bind-html="appConfig['custom.api-base-uri'] | breakPaths"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
