<section>
	<div class="row">
		<div class="col-md-3">
			<div class="alert alert-{{seisoLabel}}">
				<div class="metric">
					<div class="metric-percentage">
						<div ng-if="health.status == 'UP'">
							<i class="fa fa-check-circle fa-lg"></i>
						</div>
						<div ng-if="health.status != 'UP'">{{health.status}}</div>
					</div>
					<div class="metric-name">Seiso</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="alert alert-{{diskLabel}}">
				<div class="metric">
					<div class="metric-percentage">
						<div ng-if="health.diskSpace.status == 'UP'"><i class="fa fa-check-circle fa-lg"></i></div>
						<div ng-if="health.diskSpace.status != 'UP'">{{health.diskSpace.status}}</div>
					</div>
					<div class="metric-name">Disk</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="alert alert-{{dbLabel}}">
				<div class="metric">
					<div class="metric-percentage">
						<div ng-if="health.db.status == 'UP'"><i class="fa fa-check-circle fa-lg"></i></div>
						<div ng-if="health.db.status != 'UP'">{{health.db.status}}</div>
					</div>
					<div class="metric-name">Database</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="alert alert-{{rabbitLabel}}">
				<div class="metric">
					<div class="metric-percentage">
						<div ng-if="health.rabbit.status == 'UP'"><i class="fa fa-check-circle fa-lg"></i></div>
						<div ng-if="health.db.status != 'UP'">{{health.rabbit.status}}</div>
					</div>
					<div class="metric-name">RabbitMQ</div>
				</div>
			</div>
		</div>
	</div>
</section>
