<div class="page-header">
	<ul class="breadcrumb">
		<li><a ng-href="{{uri()}}">Home</a></li>
	</ul>
	<h1>Administration Console</h1>
</div>
<tabset>
	<tab>
		<tab-heading><i class="fa fa-stethoscope"></i> Health</tab-heading>
		<ng-include src="'view/admin/health.html'"></ng-include>
		<ng-include src="'view/admin/metrics.html'"></ng-include>
	</tab>
	<tab>
		<tab-heading><i class="fa fa-sliders"></i> Configuration</tab-heading>
		<ng-include src="'view/admin/system-config.html'"></ng-include>
		<ng-include src="'view/admin/app-config.html'"></ng-include>
	</tab>
	<tab>
		<tab-heading><i class="fa fa-cog"></i> Thread Dump</tab-heading>
		<ng-include src="'view/admin/thread-dump.html'"></ng-include>
	</tab>
</tabset>
