<!-- https://github.com/spring-projects/spring-boot/blob/master/spring-boot-actuator/src/main/java/org/springframework/boot/actuate/endpoint/SystemPublicMetrics.java -->
<section>
	<header>
		<h1>Metrics</h1>
	</header>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">System</h3>
				</div>
				<table class="table">
					<tbody>
						<tr>
							<td><a href="" tooltip="JVM total memory.">Total Memory</a></td>
							<td class="text-right">{{metrics.mem / 1024 | number:fractionSize=1}} M</td>
						</tr>
						<tr>
							<td><a href="" tooltip="JVM free memory.">Free Memory</a></td>
							<td class="text-right">{{metrics['mem.free'] / 1024 | number:fractionSize=1}} M</td>
						</tr>
						<tr>
							<td><a href="" tooltip="Number of available processors.">Processors</a></td>
							<td class="text-right">{{metrics.processors | number}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Uptime</h3>
				</div>
				<table class="table">
					<tbody>
						<tr>
							<td><a href="" tooltip="JVM uptime in seconds.">JVM</a></td>
							<td class="text-right">{{metrics.uptime / 1000 | number:fractionSize=0}} s</td>
						</tr>
						<tr>
							<td><a href="" tooltip="Seiso service update in seconds.">Seiso</a></td>
							<td class="text-right">{{metrics['instance.uptime'] / 1000 | number:fractionSize=0}} s</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Heap</h3>
				</div>
				<table class="table">
					<tbody>
						<tr>
							<td><a href="" tooltip="Maximum memory that can be used for memory management.">Max</a></td>
							<td class="text-right">{{metrics.heap / 1024 | number:fractionSize=1}} M</td>
						</tr>
						<tr>
							<td><a href="" tooltip="Initial memory that the JVM requests from the OS for memory management during startup.">Init</a></td>
							<td class="text-right">{{metrics['heap.init'] / 1024 | number:fractionSize=1}} M</td>
						</tr>
						<tr>
							<td><a href="" tooltip="Memory currently used.">Used</a></td>
							<td class="text-right">{{metrics['heap.used'] / 1024 | number:fractionSize=1}} M</td>
						</tr>
						<tr>
							<td><a href="" tooltip="Memory guaranteed to be available for use by the JVM.">Committed</a></td>
							<td class="text-right">{{metrics['heap.committed'] / 1024 | number:fractionSize=1}} M</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Threads</h3>
				</div>
				<table class="table">
					<tbody>
						<tr>
							<td><a href="" tooltip="Current number of live threads, including both daemon and non-daemon threads.">Current</a></td>
							<td class="text-right">{{metrics.threads | number}}</td>
						</tr>
						<tr>
							<td><a href="" tooltip="Peak live thread count since the JVM started or peak was reset.">Peak</a></td>
							<td class="text-right">{{metrics['threads.peak'] | number}}</td>
						</tr>
						<tr>
							<td><a href="" tooltip="Current number of live daemon threads.">Daemon</a></td>
							<td class="text-right">{{metrics['threads.daemon'] | number}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Classes</h3>
				</div>
				<table class="table">
					<tbody>
						<tr>
							<td><a href="" tooltip="Number of classes currently loaded.">Loaded</a></td>
							<td class="text-right">{{metrics.classes | number}}</td>
						</tr>
						<tr>
							<td><a href="" tooltip="Number of classes that have been unloaded.">Unloaded</a></td>
							<td class="text-right">{{metrics['classes.unloaded'] | number}}</td>
						</tr>
						<tr>
							<td><a href="" tooltip="Total classes loaded.">Total</a></td>
							<td class="text-right">{{metrics['classes.loaded'] | number}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Garbage Collection</h3>
				</div>
				<table class="table">
					<tbody>
						<tr>
							<td><a href="" tooltip="PS Scavenge (young generation) collection count.">PS Scavenge Count</a></td>
							<td class="text-right">{{metrics['gc.ps_scavenge.count'] | number}}</td>
						</tr>
						<tr>
							<td><a href="" tooltip="PS Scavenge (young generation) collection time.">PS Scavenge Time</a></td>
							<td class="text-right">{{metrics['gc.ps_scavenge.time'] | number}} ms</td>
						</tr>
						<tr>
							<td><a href="" tooltip="PS MarkSweep (old generation) collection count.">PS MarkSweep Count</a></td>
							<td class="text-right">{{metrics['gc.ps_marksweep.count'] | number}}</td>
						</tr>
						<tr>
							<td><a href="" tooltip="PS MarkSweep (old generation) collection time">PS MarkSweep Time</a></td>
							<td class="text-right">{{metrics['gc.ps_marksweep.time'] | number}} ms</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Counters and Gauges</h3>
				</div>
				<table class="table">
					<tbody>
						<tr>
							<td><a href="" tooltip="TODO">TODO</a></td>
							<td class="text-right"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Data Source (Primary)</h3>
				</div>
				<table class="table">
					<tbody>
						<tr>
							<td><a href="" tooltip="Current number of active connections that have been allocated from the data source.">Active</a></td>
							<td class="text-right">{{metrics['datasource.primary.active']}}</td>
						</tr>
						<tr>
							<td><a href="" tooltip="Usage of the pool as a value between 0 and 1 (or -1 if the pool is unlimited).">Usage</a></td>
							<td class="text-right">{{metrics['datasource.primary.usage']}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
