<section>
	<header>
		<h1>System Configuration</h1>
	</header>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">OS <span class="pull-right">(os.*)</span></h3>
				</div>
				<table class="table">
					<col style="width:33%"></col>
					<col style="width:67%"></col>
					<tbody>
						<tr>
							<td>name</td>
							<td>{{systemConfig['os.name']}}</td>
						</tr>
						<tr>
							<td>version</td>
							<td>{{systemConfig['os.version']}}</td>
						</tr>
						<tr>
							<td>arch</td>
							<td>{{systemConfig['os.arch']}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">User <span class="pull-right">(user.*)</span></h3>
				</div>
				<table class="table">
					<col style="width:33%"></col>
					<col style="width:67%"></col>
					<tbody>
						<tr>
							<td>name</td>
							<td>{{systemConfig['user.name']}}</td>
						</tr>
						<tr>
							<td>home</td>
							<td><span ng-bind-html="systemConfig['user.home'] | breakPaths"></span></td>
						</tr>
						<tr>
							<td>dir</td>
							<td><span ng-bind-html="systemConfig['user.dir'] | breakPaths"></span></td>
						</tr>
						<tr>
							<td>country</td>
							<td>{{systemConfig['user.country']}}</td>
						</tr>
						<tr>
							<td>language</td>
							<td>{{systemConfig['user.language']}}</td>
						</tr>
						<tr>
							<td>timezone</td>
							<td><span ng-bind-html="systemConfig['user.timezone'] | breakPaths"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Catalina</h3>
				</div>
				<table class="table">
					<col style="width:33%"></col>
					<col style="width:67%"></col>
					<tbody>
						<tr>
							<td>catalina.home</td>
							<td><span ng-bind-html="systemConfig['catalina.home'] | breakPaths"></span></td>
						</tr>
						<tr>
							<td>catalina.base</td>
							<td><span ng-bind-html="systemConfig['catalina.base'] | breakPaths"></span></td>
						</tr>
						<tr>
							<td>PID</td>
							<td>{{systemConfig['PID']}}</td>
						</tr>
						<tr>
							<td>LOG_TEMP</td>
							<td><span ng-bind-html="systemConfig['LOG_TEMP'] | breakPaths"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Java <span class="pull-right">(java.*)</span></h3>
				</div>
				<table class="table">
					<col style="width:33%"></col>
					<col style="width:67%"></col>
					<tbody>
						<tr>
							<td>vendor</td>
							<td>{{systemConfig['java.vendor']}}</td>
						</tr>
						<tr>
							<td>version</td>
							<td>{{systemConfig['java.version']}}</td>
						</tr>
						<tr>
							<td>runtime.name</td>
							<td>{{systemConfig['java.runtime.name']}}</td>
						</tr>
						<tr>
							<td>runtime.version</td>
							<td>{{systemConfig['java.runtime.version']}}</td>
						</tr>
						<tr>
							<td>vm.vendor</td>
							<td>{{systemConfig['java.vm.vendor']}}</td>
						</tr>
						<tr>
							<td>vm.version</td>
							<td>{{systemConfig['java.vm.version']}}</td>
						</tr>
						<tr>
							<td>class.version</td>
							<td>{{systemConfig['java.class.version']}}</td>
						</tr>
						<tr>
							<td>home</td>
							<td><span ng-bind-html="systemConfig['java.home'] | breakPaths"></span></td>
						</tr>
						<tr>
							<td>ext.dirs</td>
							<td><span ng-bind-html="systemConfig['java.ext.dirs'] | breakPaths"></span></td>
						</tr>
						<tr>
							<td>io.tmpdir</td>
							<td><span ng-bind-html="systemConfig['java.io.tmpdir'] | breakPaths"></span></td>
						</tr>
						<tr>
							<td>library.path</td>
							<td><span ng-bind-html="systemConfig['java.library.path'] | breakPaths"></span></td>
						</tr>
						<tr>
							<td>security.egd</td>
							<td><span ng-bind-html="systemConfig['java.security.egd'] | breakPaths"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
