<div class="page-header">
	<ul class="breadcrumb">
		<li><a ng-href="{{uri()}}">Home</a></li>
		<li><a ng-href="{{uri('load-balancers')}}">Load Balancers</a></li>
	</ul>
	<h1>{{loadBalancer.name}}</h1>
</div>

<ul class="field-list">
	<li>
		<div>Data Center:</div>
		<div ng-if="loadBalancer.dataCenter"><a ng-href="{{uri('data-centers', dataCenter.key)}}">{{loadBalancer.dataCenter.name}}</a></div>
		<div ng-if="!loadBalancer.dataCenter">-</div>
	</li>
	<li>
		<div>Type:</div>
		<div ng-if="loadBalancer.type">{{loadBalancer.type}}</div>
		<div ng-if="!loadBalancer.type">-</div>
	</li>
	<li>
		<div>IP Address:</div>
		<div ng-if="loadBalancer.ipAddress">{{loadBalancer.ipAddress}}</div>
		<div ng-if="!loadBalancer.ipAddress">-</div>
	</li>
	<li>
		<div>API URI:</div>
		<div ng-if="loadBalancer.apiUrl">{{loadBalancer.apiUrl}}</div>
		<div ng-if="!loadBalancer.apiUrl">-</div>
	</li>
</ul>

<ng-include src="'view/items/load-balancer/details/service-instances-pane.html'"></ng-include>
