---
layout: simple
---
<div class="row">
  <div class="col-md-9">{{ content }}</div>
  <div class="col-md-3">
    <div>
      <h3>General</h3>
      <ul class="list-unstyled">
        <li><a href="{{ site.baseurl }}/docs/api-reference/">Overview</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/authentication/">Authentication</a>
        <li><a href="{{ site.baseurl }}/docs/api-reference/authorization">Authorization</a>
        <li><a href="{{ site.baseurl }}/docs/api-reference/http-verbs/">HTTP Verbs</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/searches/">Searches</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/projections/">Projections</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/http-redirects/">HTTP Redirects</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/hypermedia/">Hypermedia</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/data-schema/">Data Schema</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/pagination/">Pagination</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/rate-limiting/">Rate Limiting</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/versioning/">Versioning</a></li>
      </ul>
    </div>
    <div>
      <h3>Items</h3>
      <ul class="list-unstyled">
        <li><a href="{{ site.baseurl }}/docs/api-reference/data-centers/">Data Centers</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/endpoints/">Endpoints</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/environments/">Environments</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/health-statuses/">Health Statuses</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/infrastructure-providers/">Infrastructure Providers</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/ip-address-roles/">IP Address Roles</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/load-balancers/">Load Balancers</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/machines/">Machines</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/nodes/">Nodes</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/node-ip-addresses/">Node IP Addresss</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/people/">People</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/rotation-statuses/">Rotation Statuses</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/services/">Services</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/service-instances/">Service Instances</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/service-instance-ports/">Service Instance Ports</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/service-types/">Service Types</a></li>
        <li><a href="{{ site.baseurl }}/docs/api-reference/status-types/">Status Types</a></li>
      </ul>
    </div>
  </div>
</div>
