---
layout: simple
---
<div class="row">
  <div class="col-md-3">
    <div class="sidenav">
      <ul class="list-unstyled">
        <li><a href="{{ site.baseurl }}/docs/current/api-tutorial/"><h4>1 Overview</h4></a></li>
        <li><a href="{{ site.baseurl }}/docs/current/api-tutorial/#get-items"><h4>2 Get items</h4></a></li>
        <li><a href="{{ site.baseurl }}/docs/current/api-tutorial/#create-items"><h4>3 Create items</h4></a></li>
        <li><a href="{{ site.baseurl }}/docs/current/api-tutorial/#update-items"><h4>4 Update items</h4></a></li>
        <li><a href="{{ site.baseurl }}/docs/current/api-tutorial/#delete-items"><h4>5 Delete items</h4></a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-9">{{ content }}</div>
</div>
