---
layout: simple
---
<div class="row">
  <div class="col-md-3">
    <div class="sidenav">
      <ul class="list-unstyled">
        <li><a href="{{ site.baseurl }}/docs/current/api-tutorial/">1 Overview</a></li>
        <li><a href="{{ site.baseurl }}/docs/current/api-tutorial/#get-items">2 Get items</a></li>
        <li><a href="{{ site.baseurl }}/docs/current/api-tutorial/#create-items">3 Create items</a></li>
        <li><a href="{{ site.baseurl }}/docs/current/api-tutorial/#update-items">4 Update items</a></li>
        <li><a href="{{ site.baseurl }}/docs/current/api-tutorial/#delete-items">5 Delete items</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-9">{{ content }}</div>
</div>
