<div class="page-header">
	<ul class="breadcrumb">
		<li><a ng-href="{{uri()}}">Home</a></li>
	</ul>
	<h1>
		Services
		<span ng-show="showPageMeta"><small>({{lowerIndex}}-{{upperIndex}} of {{totalItems}})</small></span>
		<span ng-hide="showPageMeta"><small><i class="fa fa-spinner fa-spin"></i></small></span>
	</h1>
</div>
<section ng-show="items">
	<div ng-show="totalPages &gt; 1" class="pagination-wrapper">
		<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageSelected()" />
	</div>
	<table class="table">
		<thead>
			<tr>
				<th style="width:25%">Service</th>
				<th style="width:75%">Description</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="service in items | orderBy:'name'">
				<td><a ng-href="{{uri('services', service.key)}}">{{service.name}}</a></td>
				<td>{{service.description}}</td>
			</tr>
		</tbody>
	</table>
	<div ng-show="totalPages &gt; 1" class="pagination-wrapper">
		<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageSelected()" />
	</div>
</section>
